:root {
    --color-bg-primary: #1a1a1a;
    --color-bg-footer: #131313;
    --color-bg-btns: #ff9142;

    --color-text-primary: #fff;
    --color-text-secondary: #a8a8a8;

    --font-base: 'Rubik', sans-serif;
    --font-heading: 'Unbounded', sans-serif;

    --container-width: 1200px;
    --container-padding: 20px;
    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 24px;
}